{% extends "layout.html" %}


{% block body %}

<h3>Kontrol Paneli</h3>
<hr>
<p>
    Hosgeldiniz! <small>{{request.user.username}}</small>
</p>

<a href='/articles/addarticle' class="btn btn-danger">Makale Ekle</a>

<hr>
{% if articles %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Baslik</th>
        <th scope="col">Yazar</th>
        <th scope="col">Tarih</th>
        <th scope="col">Guncelle</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <th>{{article.id}}</th>
            <th><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></th>
            <th>{{article.author}}</th>
            <th>{{article.created_date}}</th>
            <th><a class="btn btn-danger" href="{% url 'article:update' article.id %}">Guncelle</a> </th>
            <th><a class="btn btn-danger" href="{% url 'article:delete' article.id %}">Sil</a> </th>
          </tr>
    
        {% endfor %}
    </tbody>
  </table>
{% else %}
    <p class="alert alert-danger">
        Henuz makaleniz bulunmamaktadir...
    </p>
{% endif %}




{% endblock %}


