<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>TurulBlog</title>
</head>
<body>
    {% extends "layout.html" %}
    
    {% block body %}
        <div class="jumbotron text-center">
            <h3>TurulBlog`a Hosgeldiniz...</h3>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores saepe veniam non reprehenderit doloribus, consectetur eum cumque nostrum commodi necessitatibus doloremque quibusdam corrupti deleniti adipisci illum hic, aliquam similique sint!
            </p>
        </div>
    {% endblock %}


       
        
    
    
    
</body>
</html>